{% extends 'core/base.html' %}
{% load static %}

{% block title %}Skills{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="pb-2 mb-4 text-warning border-bottom border-warning">Skills</h2>

    <div class="row mb-5">
        <div class="col-sm-5">
            <h3 class="text-success mt-3">Python</h3>
            <div class="progress" role="progressbar" aria-label="Animated striped example"
                 aria-valuenow="100"
                 aria-valuemin="0"
                 aria-valuemax="100">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%">100%</div>
            </div>
        </div>

        <div class="col-sm-5">
            <h3 class="text-success mt-3">Django</h3>
            <div class="progress" role="progressbar" aria-label="Success example"
                 aria-valuenow="100"
                 aria-valuemin="0"
                 aria-valuemax="100">
                <div class="progress-bar bg-success" style="width: 100%">100%</div>
            </div>
        </div>



    </div>
</div>
{% endblock %}
```