{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <h2 class="pb-2 mb-4 text-warning border-bottom border-warning">Services</h2>
    <div class="container">
        
        <div class="row text-center mb-5">
            <div class="col-sm-4">
                <i class="fa-solid fa-magnifying-glass-dollar fa-3x i-color"></i>
                <h3 class="text-success mt-3">SEO</h3>
                <p class="px-4 ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            </div>

            <div class="col-sm-4">
                <i class="fa-solid fa-palette fa-3x i-color"></i>
                <h3 class="text-success mt-3">UI/UX</h3>
                <p class="px-4 ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            </div>

            <div class="col-sm-4">
                <i class="fa-solid fa-code fa-3x i-color"></i>
                <h3 class="text-success mt-3">Web Development</h3>
                <p class="px-4 ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            </div>
        </div>
        
        <div class="row text-center mb-5">
            <div class="col-sm-4">
                <i class="fa-solid fa-rectangle-ad fa-3x i-color"></i>
                <h3 class="text-success mt-3">Advertising</h3>
                <p class="px-4 ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            </div>

            <div class="col-sm-4">
                 <i class="fa-brands fa-apple fa-3x i-color"></i>
                <h3 class="text-success mt-3">ios</h3>
                <p class="px-4 ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            </div>

            <div class="col-sm-4">
                <i class="fa-brands fa-android fa-3x i-color"></i>
                <h3 class="text-success mt-3">Android</h3>
                <p class="px-4 ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            </div>
        </div>
        
        <div class="row text-center mb-5">
            <div class="col-sm-4">
                <i class="fa-solid fa-database fa-3x i-color"></i>
                <h3 class="text-success mt-3">Hosting</h3>
                <p class="px-4 ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            </div>

            <div class="col-sm-4">
                <i class="fa-solid fa-user-secret fa-3x i-color"></i>
                <h3 class="text-success mt-3">Security</h3>
                <p class="px-4 ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            </div>

            <div class="col-sm-4">
                <i class="fa-solid fa-headset fa-3x i-color"></i>
                <h3 class="text-success mt-3">Support</h3>
                <p class="px-4 ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            </div>
        </div>
        
    </div>
</div>

{% endblock content %}
```